In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv('mobike_shanghai_sample_updated.csv')

In [3]:
df_1.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [4]:
df = df_1.track.str.split(pat = '#',expand=True)

In [5]:
df = pd.concat([df_1[["orderid","bikeid","userid","start_time","end_time","start_location_x","start_location_y","end_location_x","end_location_y"]],df],axis = 1)
df = df.melt(id_vars=["orderid","bikeid","userid","start_time","end_time","start_location_x","start_location_y","end_location_x","end_location_y"],var_name = 'track_id')

In [6]:
df = df[df["value"].notna()]

In [7]:
df

,orderid,bikeid,userid,start_time,end_time,start_location_x,start_location_y,end_location_x,end_location_y,track_id,value
0,78387,158357,10080,2016-08-20 06:57,2016-08-20 07:04,121.348,31.389,121.357,31.388,0,"121.347,31.392"
1,891333,92776,6605,2016-08-29 19:09,2016-08-29 19:31,121.508,31.279,121.489,31.271,0,"121.489,31.270"
2,1106623,152045,8876,2016-08-13 16:17,2016-08-13 16:36,121.383,31.254,121.405,31.248,0,"121.381,31.251"
3,1389484,196259,10648,2016-08-23 21:34,2016-08-23 21:43,121.484,31.320,121.471,31.325,0,"121.471,31.325"
4,188537,78208,11735,2016-08-16 07:32,2016-08-16 07:41,121.407,31.292,121.418,31.288,0,"121.407,31.291"
5,537030,66346,10335,2016-08-07 21:00,2016-08-07 21:20,121.488,31.224,121.468,31.233,0,"121.468,31.233"
6,517706,99631,11258,2016-08-29 13:39,2016-08-29 13:54,121.445,31.176,121.447,31.192,0,"121.445,31.176"
7,270836,63136,11361,2016-08-29 09:21,2016-08-29 13:43,121.369,31.252,121.376,31.233,0,"121.367,31.238"
8,441362,331921,11705,2016-08-31 08:16,2016-08-31 08:19,121.529,31.324,121.532,31.323,0,"121.529,31.324"
9,76435,347335,8135,2016-08-30 12:49,2016-08-30 13:03,121.467,31.320,121.447,31.318,0,"121.447,31.317"
10,903987,13745,3117,2016-08-09 19:51,2016-08-09 19:59,121.514,31.307,121.510,31.304,0,"121.510,31.304"
11,1749105,250190,8174,2016-08-26 17:57,2016-08-26 18:43,121.385,31.166,121.439,31.193,0,"121.384,31.166"
12,760441,274835,17177,2016-08-31 09:53,2016-08-31 10:04,121.419,31.292,121.442,31.297,0,"121.419,31.292"
13,163153,129925,9763,2016-08-09 08:33,2016-08-09 08:40,121.551,31.279,121.558,31.272,0,"121.551,31.278"
14,1718308,291555,9867,2016-08-24 16:32,2016-08-24 16:45,121.528,31.309,121.523,31.321,0,"121.521,31.316"
15,113197,277976,1499,2016-08-31 06:51,2016-08-31 07:08,121.413,31.358,121.432,31.356,0,"121.412,31.359"
16,1660785,74378,3637,2016-08-06 22:30,2016-08-06 22:41,121.590,31.243,121.584,31.246,0,"121.585,31.246"
17,1796188,210920,4156,2016-08-24 22:52,2016-08-24 23:02,121.483,31.278,121.473,31.273,0,"121.473,31.273"
18,1725437,94034,10712,2016-08-31 21:31,2016-08-31 21:36,121.442,31.264,121.437,31.263,0,"121.437,31.262"
19,974312,87103,4921,2016-08-08 17:31,2016-08-08 17:44,121.437,31.294,121.427,31.303,0,"121.427,31.303"
20,1016344,319980,557,2016-08-29 20:20,2016-08-29 21:01,121.466,31.185,121.450,31.197,0,"121.450,31.196"
21,4156,57862,2395,2016-08-09 02:34,2016-08-09 02:37,121.384,31.188,121.383,31.187,0,"121.383,31.187"
22,1013785,364751,14595,2016-08-30 12:17,2016-08-30 12:28,121.388,31.268,121.368,31.272,0,"121.368,31.272"
23,420053,162491,13745,2016-08-20 14:25,2016-08-20 14:31,121.432,31.180,121.427,31.184,0,"121.426,31.182"
24,737601,58198,6349,2016-08-01 17:57,2016-08-01 18:19,121.513,31.302,121.541,31.311,0,"121.513,31.302"
25,1663013,9935,8929,2016-08-30 20:15,2016-08-30 20:22,121.382,31.246,121.380,31.251,0,"121.378,31.249"
26,399789,292393,10700,2016-08-24 05:49,2016-08-24 05:58,121.364,31.248,121.367,31.237,0,"121.361,31.244"
27,1399630,44728,5944,2016-08-22 18:27,2016-08-22 18:33,121.506,31.329,121.501,31.335,0,"121.499,31.336"
28,773687,263024,15033,2016-08-24 07:45,2016-08-24 07:53,121.464,31.193,121.470,31.190,0,"121.464,31.192"
29,466460,240822,12012,2016-08-21 22:13,2016-08-21 22:42,121.533,31.318,121.502,31.309,0,"121.502,31.308"
...,...,...,...,...,...,...,...,...,...,...,...
46061416,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,449,"121.480,31.257"
46163777,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,450,"121.480,31.260"
46266138,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,451,"121.480,31.261"
46368499,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,452,"121.480,31.267"
46470860,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,453,"121.480,31.268"
46573221,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,454,"121.480,31.275"
46675582,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,455,"121.480,31.276"
46777943,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,456,"121.480,31.285"
46880304,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,457,"121.480,31.286"
46982665,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,458,"121.481,31.260"
47085026,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,459,"121.481,31.277"
47187387,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,460,"121.481,31.278"
47289748,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,461,"121.481,31.279"
47392109,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,462,"121.481,31.285"
47494470,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,463,"121.482,31.260"
47596831,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,464,"121.482,31.261"
47699192,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,465,"121.482,31.279"
47801553,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,466,"121.482,31.281"
47903914,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,467,"121.482,31.282"
48006275,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,468,"121.482,31.283"
48108636,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,469,"121.482,31.284"
48210997,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,470,"121.482,31.285"
48313358,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,471,"121.482,31.286"
48415719,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,472,"121.482,31.287"
48518080,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,473,"121.482,31.288"
48620441,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,474,"121.482,31.289"
48722802,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,475,"121.483,31.287"
48825163,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,476,"121.483,31.288"
48927524,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,477,"121.483,31.289"
49029885,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,478,"121.483,31.290"

In [8]:
data = df['value'].str.split(",", expand=True)
data.columns = ['longitude','latitude']
df = pd.concat([df, data], axis=1)

In [9]:
df

,orderid,bikeid,userid,start_time,end_time,start_location_x,start_location_y,end_location_x,end_location_y,track_id,value,longitude,latitude
0,78387,158357,10080,2016-08-20 06:57,2016-08-20 07:04,121.348,31.389,121.357,31.388,0,"121.347,31.392",121.347,31.392
1,891333,92776,6605,2016-08-29 19:09,2016-08-29 19:31,121.508,31.279,121.489,31.271,0,"121.489,31.270",121.489,31.270
2,1106623,152045,8876,2016-08-13 16:17,2016-08-13 16:36,121.383,31.254,121.405,31.248,0,"121.381,31.251",121.381,31.251
3,1389484,196259,10648,2016-08-23 21:34,2016-08-23 21:43,121.484,31.320,121.471,31.325,0,"121.471,31.325",121.471,31.325
4,188537,78208,11735,2016-08-16 07:32,2016-08-16 07:41,121.407,31.292,121.418,31.288,0,"121.407,31.291",121.407,31.291
5,537030,66346,10335,2016-08-07 21:00,2016-08-07 21:20,121.488,31.224,121.468,31.233,0,"121.468,31.233",121.468,31.233
6,517706,99631,11258,2016-08-29 13:39,2016-08-29 13:54,121.445,31.176,121.447,31.192,0,"121.445,31.176",121.445,31.176
7,270836,63136,11361,2016-08-29 09:21,2016-08-29 13:43,121.369,31.252,121.376,31.233,0,"121.367,31.238",121.367,31.238
8,441362,331921,11705,2016-08-31 08:16,2016-08-31 08:19,121.529,31.324,121.532,31.323,0,"121.529,31.324",121.529,31.324
9,76435,347335,8135,2016-08-30 12:49,2016-08-30 13:03,121.467,31.320,121.447,31.318,0,"121.447,31.317",121.447,31.317
10,903987,13745,3117,2016-08-09 19:51,2016-08-09 19:59,121.514,31.307,121.510,31.304,0,"121.510,31.304",121.510,31.304
11,1749105,250190,8174,2016-08-26 17:57,2016-08-26 18:43,121.385,31.166,121.439,31.193,0,"121.384,31.166",121.384,31.166
12,760441,274835,17177,2016-08-31 09:53,2016-08-31 10:04,121.419,31.292,121.442,31.297,0,"121.419,31.292",121.419,31.292
13,163153,129925,9763,2016-08-09 08:33,2016-08-09 08:40,121.551,31.279,121.558,31.272,0,"121.551,31.278",121.551,31.278
14,1718308,291555,9867,2016-08-24 16:32,2016-08-24 16:45,121.528,31.309,121.523,31.321,0,"121.521,31.316",121.521,31.316
15,113197,277976,1499,2016-08-31 06:51,2016-08-31 07:08,121.413,31.358,121.432,31.356,0,"121.412,31.359",121.412,31.359
16,1660785,74378,3637,2016-08-06 22:30,2016-08-06 22:41,121.590,31.243,121.584,31.246,0,"121.585,31.246",121.585,31.246
17,1796188,210920,4156,2016-08-24 22:52,2016-08-24 23:02,121.483,31.278,121.473,31.273,0,"121.473,31.273",121.473,31.273
18,1725437,94034,10712,2016-08-31 21:31,2016-08-31 21:36,121.442,31.264,121.437,31.263,0,"121.437,31.262",121.437,31.262
19,974312,87103,4921,2016-08-08 17:31,2016-08-08 17:44,121.437,31.294,121.427,31.303,0,"121.427,31.303",121.427,31.303
20,1016344,319980,557,2016-08-29 20:20,2016-08-29 21:01,121.466,31.185,121.450,31.197,0,"121.450,31.196",121.450,31.196
21,4156,57862,2395,2016-08-09 02:34,2016-08-09 02:37,121.384,31.188,121.383,31.187,0,"121.383,31.187",121.383,31.187
22,1013785,364751,14595,2016-08-30 12:17,2016-08-30 12:28,121.388,31.268,121.368,31.272,0,"121.368,31.272",121.368,31.272
23,420053,162491,13745,2016-08-20 14:25,2016-08-20 14:31,121.432,31.180,121.427,31.184,0,"121.426,31.182",121.426,31.182
24,737601,58198,6349,2016-08-01 17:57,2016-08-01 18:19,121.513,31.302,121.541,31.311,0,"121.513,31.302",121.513,31.302
25,1663013,9935,8929,2016-08-30 20:15,2016-08-30 20:22,121.382,31.246,121.380,31.251,0,"121.378,31.249",121.378,31.249
26,399789,292393,10700,2016-08-24 05:49,2016-08-24 05:58,121.364,31.248,121.367,31.237,0,"121.361,31.244",121.361,31.244
27,1399630,44728,5944,2016-08-22 18:27,2016-08-22 18:33,121.506,31.329,121.501,31.335,0,"121.499,31.336",121.499,31.336
28,773687,263024,15033,2016-08-24 07:45,2016-08-24 07:53,121.464,31.193,121.470,31.190,0,"121.464,31.192",121.464,31.192
29,466460,240822,12012,2016-08-21 22:13,2016-08-21 22:42,121.533,31.318,121.502,31.309,0,"121.502,31.308",121.502,31.308
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46061416,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,449,"121.480,31.257",121.480,31.257
46163777,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,450,"121.480,31.260",121.480,31.260
46266138,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,451,"121.480,31.261",121.480,31.261
46368499,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,452,"121.480,31.267",121.480,31.267
46470860,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,453,"121.480,31.268",121.480,31.268
46573221,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,454,"121.480,31.275",121.480,31.275
46675582,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,455,"121.480,31.276",121.480,31.276
46777943,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,456,"121.480,31.285",121.480,31.285
46880304,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,457,"121.480,31.286",121.480,31.286
46982665,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,458,"121.481,31.260",121.481,31.260
47085026,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,459,"121.481,31.277",121.481,31.277
47187387,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,460,"121.481,31.278",121.481,31.278
47289748,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,461,"121.481,31.279",121.481,31.279
47392109,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,462,"121.481,31.285",121.481,31.285
47494470,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,463,"121.482,31.260",121.482,31.260
47596831,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,464,"121.482,31.261",121.482,31.261
47699192,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,465,"121.482,31.279",121.482,31.279
47801553,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,466,"121.482,31.281",121.482,31.281
47903914,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,467,"121.482,31.282",121.482,31.282
48006275,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,468,"121.482,31.283",121.482,31.283
48108636,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,469,"121.482,31.284",121.482,31.284
48210997,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,470,"121.482,31.285",121.482,31.285
48313358,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,471,"121.482,31.286",121.482,31.286
48415719,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,472,"121.482,31.287",121.482,31.287
48518080,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,473,"121.482,31.288",121.482,31.288
48620441,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,474,"121.482,31.289",121.482,31.289
48722802,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,475,"121.483,31.287",121.483,31.287
48825163,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,476,"121.483,31.288",121.483,31.288
48927524,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,477,"121.483,31.289",121.483,31.289
49029885,8455,238655,8503,2016-08-28 06:33,2016-08-28 16:37,121.472,31.287,121.483,31.290,478,"121.483,31.290",121.483,31.290

In [10]:
df.drop(['value'], axis=1, inplace=True)

In [11]:
df["start_time"] = pd.to_datetime(df["start_time"])
df["end_time"] = pd.to_datetime(df["end_time"])

In [12]:
df['duration']= pd.to_datetime(df.end_time)-pd.to_datetime(df.start_time)
df['duration']= df.duration.apply(lambda x:round(x.total_seconds()/60))

In [15]:
df

,orderid,bikeid,userid,start_time,end_time,start_location_x,start_location_y,end_location_x,end_location_y,track_id,longitude,latitude,duration
0,78387,158357,10080,2016-08-20 06:57:00,2016-08-20 07:04:00,121.348,31.389,121.357,31.388,0,121.347,31.392,7
1,891333,92776,6605,2016-08-29 19:09:00,2016-08-29 19:31:00,121.508,31.279,121.489,31.271,0,121.489,31.270,22
2,1106623,152045,8876,2016-08-13 16:17:00,2016-08-13 16:36:00,121.383,31.254,121.405,31.248,0,121.381,31.251,19
3,1389484,196259,10648,2016-08-23 21:34:00,2016-08-23 21:43:00,121.484,31.320,121.471,31.325,0,121.471,31.325,9
4,188537,78208,11735,2016-08-16 07:32:00,2016-08-16 07:41:00,121.407,31.292,121.418,31.288,0,121.407,31.291,9
5,537030,66346,10335,2016-08-07 21:00:00,2016-08-07 21:20:00,121.488,31.224,121.468,31.233,0,121.468,31.233,20
6,517706,99631,11258,2016-08-29 13:39:00,2016-08-29 13:54:00,121.445,31.176,121.447,31.192,0,121.445,31.176,15
7,270836,63136,11361,2016-08-29 09:21:00,2016-08-29 13:43:00,121.369,31.252,121.376,31.233,0,121.367,31.238,262
8,441362,331921,11705,2016-08-31 08:16:00,2016-08-31 08:19:00,121.529,31.324,121.532,31.323,0,121.529,31.324,3
9,76435,347335,8135,2016-08-30 12:49:00,2016-08-30 13:03:00,121.467,31.320,121.447,31.318,0,121.447,31.317,14
10,903987,13745,3117,2016-08-09 19:51:00,2016-08-09 19:59:00,121.514,31.307,121.510,31.304,0,121.510,31.304,8
11,1749105,250190,8174,2016-08-26 17:57:00,2016-08-26 18:43:00,121.385,31.166,121.439,31.193,0,121.384,31.166,46
12,760441,274835,17177,2016-08-31 09:53:00,2016-08-31 10:04:00,121.419,31.292,121.442,31.297,0,121.419,31.292,11
13,163153,129925,9763,2016-08-09 08:33:00,2016-08-09 08:40:00,121.551,31.279,121.558,31.272,0,121.551,31.278,7
14,1718308,291555,9867,2016-08-24 16:32:00,2016-08-24 16:45:00,121.528,31.309,121.523,31.321,0,121.521,31.316,13
15,113197,277976,1499,2016-08-31 06:51:00,2016-08-31 07:08:00,121.413,31.358,121.432,31.356,0,121.412,31.359,17
16,1660785,74378,3637,2016-08-06 22:30:00,2016-08-06 22:41:00,121.590,31.243,121.584,31.246,0,121.585,31.246,11
17,1796188,210920,4156,2016-08-24 22:52:00,2016-08-24 23:02:00,121.483,31.278,121.473,31.273,0,121.473,31.273,10
18,1725437,94034,10712,2016-08-31 21:31:00,2016-08-31 21:36:00,121.442,31.264,121.437,31.263,0,121.437,31.262,5
19,974312,87103,4921,2016-08-08 17:31:00,2016-08-08 17:44:00,121.437,31.294,121.427,31.303,0,121.427,31.303,13
20,1016344,319980,557,2016-08-29 20:20:00,2016-08-29 21:01:00,121.466,31.185,121.450,31.197,0,121.450,31.196,41
21,4156,57862,2395,2016-08-09 02:34:00,2016-08-09 02:37:00,121.384,31.188,121.383,31.187,0,121.383,31.187,3
22,1013785,364751,14595,2016-08-30 12:17:00,2016-08-30 12:28:00,121.388,31.268,121.368,31.272,0,121.368,31.272,11
23,420053,162491,13745,2016-08-20 14:25:00,2016-08-20 14:31:00,121.432,31.180,121.427,31.184,0,121.426,31.182,6
24,737601,58198,6349,2016-08-01 17:57:00,2016-08-01 18:19:00,121.513,31.302,121.541,31.311,0,121.513,31.302,22
25,1663013,9935,8929,2016-08-30 20:15:00,2016-08-30 20:22:00,121.382,31.246,121.380,31.251,0,121.378,31.249,7
26,399789,292393,10700,2016-08-24 05:49:00,2016-08-24 05:58:00,121.364,31.248,121.367,31.237,0,121.361,31.244,9
27,1399630,44728,5944,2016-08-22 18:27:00,2016-08-22 18:33:00,121.506,31.329,121.501,31.335,0,121.499,31.336,6
28,773687,263024,15033,2016-08-24 07:45:00,2016-08-24 07:53:00,121.464,31.193,121.470,31.190,0,121.464,31.192,8
29,466460,240822,12012,2016-08-21 22:13:00,2016-08-21 22:42:00,121.533,31.318,121.502,31.309,0,121.502,31.308,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46061416,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,449,121.480,31.257,604
46163777,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,450,121.480,31.260,604
46266138,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,451,121.480,31.261,604
46368499,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,452,121.480,31.267,604
46470860,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,453,121.480,31.268,604
46573221,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,454,121.480,31.275,604
46675582,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,455,121.480,31.276,604
46777943,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,456,121.480,31.285,604
46880304,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,457,121.480,31.286,604
46982665,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,458,121.481,31.260,604
47085026,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,459,121.481,31.277,604
47187387,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,460,121.481,31.278,604
47289748,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,461,121.481,31.279,604
47392109,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,462,121.481,31.285,604
47494470,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,463,121.482,31.260,604
47596831,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,464,121.482,31.261,604
47699192,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,465,121.482,31.279,604
47801553,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,466,121.482,31.281,604
47903914,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,467,121.482,31.282,604
48006275,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,468,121.482,31.283,604
48108636,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,469,121.482,31.284,604
48210997,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,470,121.482,31.285,604
48313358,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,471,121.482,31.286,604
48415719,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,472,121.482,31.287,604
48518080,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,473,121.482,31.288,604
48620441,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,474,121.482,31.289,604
48722802,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,475,121.483,31.287,604
48825163,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,476,121.483,31.288,604
48927524,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,477,121.483,31.289,604
49029885,8455,238655,8503,2016-08-28 06:33:00,2016-08-28 16:37:00,121.472,31.287,121.483,31.290,478,121.483,31.290,604

In [14]:
df.to_csv("track_data.csv")